#admin-container {
  display: flex;
  flex-wrap: no-wrap;
}

#input-container {
  padding: 10px;
  margin: 25px;
  flex: 1 1 auto;
  min-width: 40%;
}

.admin-input {
  width: 100%;
  padding: 5px;
  height: 20px;
  margin-bottom: 5px;
  border: none;
}

#input-content {
  height: 60vh;
  width: 100%;
  border: none;
}

#preview-container {
  padding: 25px;
  min-width: 400px;
  flex: 1 1 auto;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
