#admin-container {
  display: flex;
}

#input-container {
  margin: 25px;
  flex: 1 1 auto;
}

.admin-input {
  padding: 5px;
  height: 20px;
  width: 80%;
  margin-bottom: 5px;
}

#input-content {
  height: 60vh;
  width: 100%;
  border: none;
}

#preview-container {
  padding: 25px;
  max-width: 50%;
  flex: 1 1 auto;
}
