body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

.img-container {
    width: 100%;
    text-align: center;
}

.entry-title {
    text-align: center;
}
