@import 'style';

body {
  margin: 0px;
}

#main-container {
  display: flex;
}

#active-entry-container {
  flex: 8 1 400px;
  padding: 25px;
  margin-left: 5px;
  height: 85vh;
  overflow-y: auto;
}

#entry-container { 
  flex: 1 1 150px;
  color: $primary;
}

.entry-item {
  @include shadow($b: 3px, $s: 1px, $color: $primary); 
  padding: 15px;
  margin: 5px;
  border: 1px solid $primary;
  cursor: pointer;
  transition: 0.35s ease-out;
}

.entry-item:hover {
  background-color: $primary;
  color: $secondary;
  transition: 0.15s ease-in;
}

.entry-item-tag-container {
  display: flex;
  margin-top: 10px;
}

.entry-item-tag {
  flex: 1 1 auto;
  margin: 1px;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
}

.entry-item-tag:hover {
  background-color: $secondary;
  color: $primary;
  transition: 0.15s ease-in;
}
