@import 'style';

body {
  margin: 0px;
}

#main-container {
  display: flex;
}

#active-entry-container {
  color: $tertiary;
  flex: 8 1 400px;
  padding: 15px 50px;
  height: calc(100vh - 30px);
  overflow-y: auto;
}

#entry-container {   
  @include shadow($v: 2px, $h: 2px, $b: 25px, $s: 0px, $color: $tertiary);
  width: 20%;
  min-width: 150px;
  color: $tertiary;
  height: 100vh;
  background: $primary;
}

#post-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 50%;
}

.entry-item {
  @include shadow($v: 1px, $h: 1px, $b: 3px, $s: 0px, $color: $tertiary);
  background: white;
  color: $tertiary;
  margin: 15px;
  cursor: pointer;
  transition: 0.35s ease-out;
}

.entry-item:hover {
  background-color: $tertiary;
  color: $primary;
  transition: 0.15s ease-in-out;
  opacity: 0.9;
}

.entry-item-title {
  background: $tertiary;
  color: $primary;
  padding: 1px 5px;
  opacity: 0.9;
}

.entry-item-description {
  padding: 5px;
}

.entry-item-tag-container {
  padding: 5px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.entry-item-tag {
  flex: 1 1 auto;
  margin: 1px;
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  padding: 3px;
}

.entry-item-tag:hover {
  background-color: $primary;
  color: $tertiary;
  transition: 0.15s ease-in;
}
