@import 'style';

#navbar-container {
  background: $tertiary;
  color: $primary;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

#img-container {
  flex: 1 1 150px;
  height: 150px;
  width: 150px;
  border-radius: 50%;

  display: flex;
  justify-content: center;

  img {
    padding: 15px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }
}

#navbar-button-container {
  padding-top: 10px;
  flex: 1 1 125px;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: center;
  text-align: right;

  .nav-button {
    flex: 1 1 auto;
    height: 30px;
    text-align: center;
    font-size: 1.15rem;
    color: $primary;
    cursor: pointer;
    transition: .25s ease-out;
  }

  .nav-button:hover {
    color: $tertiary;
    background-color: $primary;
    transition: .15s ease-in;
  }
}