@import 'style';

#navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 2px 8px, rgba(0, 0, 0, 0.117647) 0px 2px 6px;
}

.main-tabs {
  width: 70%;
  flex: 1 1 70%;
  display: flex;

  div {
    flex: 1 1 auto;
  }
  

  a {
    flex: 1 1 auto;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
}

.secondary-tabs {
  width: 30%;
  display: flex;
  flex-wrap: none;
  min-width: 150px;
  flex-grow: 1;

  @media (max-width: 700px) {
    width: 0%;
    min-width: 0px;
  }

  .search-tab {
    flex: 1 1 auto;
    padding-left: 15px;
    background: $main;

    @media (max-width: 700px) {
      display: none;
    }
  }

  .menu-tab {
    flex: 1 1 auto;
    min-width: 50px;
    max-width: 50px;
    background: $main;
  }

    @media (max-width: 700px) {
      max-width: 50px;
    }
}