$primary: #F2F2F2;
$secondary: #C3C3C3;
$tertiary: #141414;

@mixin shadow($h: 0px, $v: 0px, $b: 3px, $s: 3px, $color: black) {
  box-shadow:         $h $v $b $s $color;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  background: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  text-align: center;
}

ul {
  list-style: none;
}

pre {
  @include shadow($b: 1px, $s: 1px, $color: $tertiary);
  background-color: #999;
  padding: 20px;
  padding-left: 40px;
  margin: 0% 5%;
  border-radius: 2px;
  overflow-x: auto;
}

pre code {
  font-size: 1rem; 
}

code {
  padding: 5px;
  font-size: 14px;
  overflow-x: auto;
}

@media (max-width: 800px) {

  #entry-container {
    display: none;
  }

  #post-container {
    padding: 15px 25px !important;
  }
}

#connect-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  right: 40px;

  .connect-icon {
    flex: 1 1 35px;
    max-height: 35px;
    max-width: 35px;
    height: 35px;
    width: 35px;
    padding: 5px;
    cursor: pointer;
  }

}