$primary: #333;
$secondary: whitesmoke;
$tertiary: #999;

@mixin shadow($h: 0px, $v: 0px, $b: 3px, $s: 3px, $color: black) {
  -webkit-box-shadow: $h $v $b $s $color;
  -moz-box-shadow:    $h $v $b $s $color;
  box-shadow:         $h $v $b $s $color;
}

h1, h2, h3, h4 {
  text-align: center;
}
