$primary: #F2F2F2;
$secondary: #C3C3C3;
$tertiary: #141414;
$main: rgb(0, 188, 212);

@mixin shadow($h: 0px, $v: 0px, $b: 3px, $s: 3px, $color: black) {
  box-shadow:         $h $v $b $s $color;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: whitesmoke;
}

h1, h2, h3, h4 {
  text-align: center;
}

ul {
  list-style: none;
}

pre {
  @include shadow($b: 1px, $s: 1px, $color: $tertiary);
  background: whitesmoke;
  padding: 20px;
  padding-left: 40px;
  margin: 0% 5%;
  border-radius: 2px;
  overflow-x: auto;
}

pre code {
  font-size: 1rem; 
}

code {
  padding: 5px;
  font-size: 14px;
  overflow-x: auto;
}

.fadeout {
    position: relative; 
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
} 

#connect-container {
  z-index: 2;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  right: 40px;

  @media (max-width: 900px) {
    bottom: 10px;
    top: auto;
  }

  .connect-icon {
    flex: 1 1 25px;
    max-height: 25px;
    max-width: 25px;
    height: 25px;
    width: 25px;
    padding: 5px;
    cursor: pointer;
  }

}